body {
    background-color: #36A59A;
    margin: auto;
    width: 1200px;
  }

h1{
    color:  #A5A187;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #133D25;
    font-size: 50px;
    text-align: center;
}

.button {
    border: 1px solid #F56469;
    background-color: #023059;
    color: #F56469;
    transform: translate(0px, -15px);
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
  }

#botoes{
    text-align: center;
}

canvas{
    text-align: center;
    border: #591902 dotted;
    background-color: lightgray;
}